In [1]:
import tabula
import pdfreader
from pdfreader import PDFDocument, SimplePDFViewer
from reportlab.lib.pagesizes import letter, landscape
from reportlab.pdfgen import canvas
from reportlab.lib import colors
from reportlab.platypus import SimpleDocTemplate, Table, TableStyle

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Carregando o arquivo PDF
lista_tabelas = tabula.read_pdf("horario.pdf", pages = 'all')

In [3]:
# Exibindo quantas páginas foram carregadas
print(len(lista_tabelas))

6

In [4]:
# Gerando um Loop FOR para exibir cada página do PDF
for tabela in lista_tabelas:
    display(tabela)

,Hr./Aula,Segunda,Terça,Quarta,Quinta,Sexta,Sábado,Unnamed: 0
0,1,07:45\r08:35,14143 - 1\rD67 - 2,NaN,NaN,14145 - 1\rD67 - 2,10291 - 1\rD67 - 2,NaN
1,2,08:35\r09:25,14143 - 1\rD67 - 2,NaN,NaN,14145 - 1\rD67 - 2,10291 - 1\rD67 - 2,NaN
2,3,09:40\r10:30,6631 - 1\rD67 - 3,10292 - 2\rO27 - 1,6668 - 2\rE46 - 8,6644 - 2\rD67 - 3,NaN,NaN
3,4,10:30\r11:20,6631 - 1\rD67 - 3,10292 - 2\rO27 - 1,6668 - 2\rE46 - 8,6644 - 2\rD67 - 3,NaN,NaN
4,5,11:20\r12:10,6631 - 1\rD67 - 3,NaN,NaN,6644 - 2\rD67 - 3,NaN,NaN

,Hr./Aula,Segunda,Terça,Quarta,Quinta,Sexta,Sábado,Unnamed: 0
0,6,13:30\r14:20,NaN,10291 - 1\rD67 - 2,6649 - 1\rD67 - 2,NaN,6649 - 1\rD67 - 2,NaN
1,7,14:20\r15:10,NaN,10291 - 1\rD67 - 2,6649 - 1\rD67 - 2,NaN,6649 - 1\rD67 - 2,NaN
2,8,15:20\r16:10,6645 - 1\rD67 - 2,NaN,NaN,6645 - 1\rD67 - 2,NaN,NaN
3,9,16:10\r17:00,6645 - 1\rD67 - 2,NaN,NaN,6645 - 1\rD67 - 2,NaN,NaN
4,10,17:00\r17:50,6645 - 1\rD67 - 2,NaN,NaN,6645 - 1\rD67 - 2,NaN,NaN

,Hr./Aula,Segunda,Terça,Quarta,Quinta,Sexta,Sábado,Unnamed: 0
0,1,07:45\r08:35,10285 - 1\rD67 - 1,6642 - 2\rD67 - 2,NaN,NaN,12497 - 1\rE46 - 8,NaN
1,2,08:35\r09:25,10285 - 1\rD67 - 1,6642 - 2\rD67 - 2,NaN,NaN,12497 - 1\rE46 - 8,NaN
2,3,09:40\r10:30,6631 - 1\rD67 - 3,12497 - 1\rE46 - 8,10286 - 2\rO27 - 1,6644 - 2\rD67 - 3,NaN,NaN
3,4,10:30\r11:20,6631 - 1\rD67 - 3,12497 - 1\rE46 - 8,10286 - 2\rO27 - 1,6644 - 2\rD67 - 3,NaN,NaN
4,5,11:20\r12:10,6631 - 1\rD67 - 3,NaN,6641 - 2\rD67 - 106,6644 - 2\rD67 - 3,NaN,NaN

,Hr./Aula,Segunda,Terça,Quarta,Quinta,Sexta,Sábado,Unnamed: 0
0,6,13:30\r14:20,14142 - 1\rD67 - 2,10285 - 1\rD67 - 2,6651 - 1\rD67 - 2,14142 - 1\rD67 - 2,6651 - 1\rD67 - 2,NaN
1,7,14:20\r15:10,14142 - 1\rD67 - 2,10285 - 1\rD67 - 2,6651 - 1\rD67 - 2,14142 - 1\rD67 - 2,6651 - 1\rD67 - 2,NaN
2,8,15:20\r16:10,6650 - 2\rD67 - 108,NaN,14144 - 1\rD67 - 2,6650 - 2\rD67 - 201,NaN,NaN
3,9,16:10\r17:00,6650 - 2\rD67 - 108,NaN,14144 - 1\rD67 - 2,6650 - 2\rD67 - 201,NaN,NaN

   Hr./Aula       Segunda  Terça  Quarta  Quinta  Sexta  Sábado  Unnamed: 0
0        10  17:00\r17:50    NaN     NaN     NaN    NaN     NaN         NaN

,Código\rDisciplina,Turma,Disciplina,Situação,Departamento,Tipo\rPeríodo,Período de Oferta,Máx.\rFaltas
0,6631,1,CALCULO DIFERENCIAL E INTEGRAL I,Dependência,DMA,A,31/03/2025 -\r15/12/2025,51 DP
1,6641,2,ALGEBRA LINEAR,Dependência,DMA,S2,18/08/2025 -\r15/12/2025,12 DP
2,6642,2,FISICA GERAL II,Dependência,DFI,S2,18/08/2025 -\r15/12/2025,17 DP
3,6644,2,MECANICA E RESIST. DOS MATERIAIS,Matriculado,DEC,A,31/03/2025 -\r15/12/2025,25
4,6645,1,CALCULO DIFERENCIAL E INTEGRAL II,Matriculado,DMA,S1,31/03/2025 -\r02/08/2025,25
5,6649,1,ESTATISTICA,Matriculado,DES,S1,31/03/2025 -\r02/08/2025,17
6,6650,2,CALCULO DIFERENCIAL E INTEGRAL III,Matriculado,DMA,S2,18/08/2025 -\r15/12/2025,17
7,6651,1,CALCULO NUMERICO,Matriculado,DMA,S2,18/08/2025 -\r15/12/2025,17
8,6668,2,PROJETO DE SISTEMAS DIGITAIS,Matriculado,DEQ,S1,31/03/2025 -\r02/08/2025,8
9,10285,1,CIRCUITOS ELETRICOS II,Matriculado,DEQ,S2,18/08/2025 -\r15/12/2025,17
10,10286,2,LABORAT. DE CIRCUITOS ELETRICOS II,Matriculado,DEQ,S2,18/08/2025 -\r15/12/2025,8
11,10291,1,CIRCUITOS ELETRICOS I,Matriculado,DEQ,S1,31/03/2025 -\r02/08/2025,17
12,10292,2,LABORATOR. DE CIRCUITOS ELETRICOS I,Matriculado,DEQ,S1,31/03/2025 -\r02/08/2025,8
13,12497,1,MICROCONTROLADORES,Matriculado,DEQ,S2,18/08/2025 -\r15/12/2025,17
14,14142,1,TEORIA ELETROMAGNETICA I,Matriculado,DEQ,S2,18/08/2025 -\r15/12/2025,17
15,14143,1,TOP.APL.AO PROJ.DE LINHAS DE TRANS.,Matriculado,DEC,S1,31/03/2025 -\r02/08/2025,8
16,14144,1,MATER.P/ENGENH.ELETROELETRONICA,Matriculado,DEQ,S2,18/08/2025 -\r15/12/2025,8
17,14145,1,FUNDAMENTOS DE ENGENHARIA\rAMBIENTAL,Matriculado,DEQ,S1,31/03/2025 -\r02/08/2025,8

In [5]:
# Obtendo somente a planilha 1 e transcrevendo os valores vazios com "0 - \r"
Grade_M = lista_tabelas[0].fillna(value="0 - \r")

In [6]:
# Obtendo somente a planilha 2 e transcrevendo os valores vazios com "0 - \r"
Grade_V = lista_tabelas[1].fillna(value="0 - \r")

"0 - \r" serão usados para divisões das colunas futuramente

In [7]:
Grade_M = Grade_M.drop('Unnamed: 0', axis = 1)

In [8]:
Grade_V = Grade_V.drop('Unnamed: 0', axis = 1)

Removendo a coluna "Sabado" das planilhas

In [9]:
Grade_V

,Hr./Aula,Segunda,Terça,Quarta,Quinta,Sexta,Sábado
0,6,13:30\r14:20,0 - \r,10291 - 1\rD67 - 2,6649 - 1\rD67 - 2,0 - \r,6649 - 1\rD67 - 2
1,7,14:20\r15:10,0 - \r,10291 - 1\rD67 - 2,6649 - 1\rD67 - 2,0 - \r,6649 - 1\rD67 - 2
2,8,15:20\r16:10,6645 - 1\rD67 - 2,0 - \r,0 - \r,6645 - 1\rD67 - 2,0 - \r
3,9,16:10\r17:00,6645 - 1\rD67 - 2,0 - \r,0 - \r,6645 - 1\rD67 - 2,0 - \r
4,10,17:00\r17:50,6645 - 1\rD67 - 2,0 - \r,0 - \r,6645 - 1\rD67 - 2,0 - \r

In [10]:
Grade_M['Teste'] = Grade_M['Segunda']
Grade_V['Teste'] = Grade_V['Segunda']

In [11]:
Grade_V

,Hr./Aula,Segunda,Terça,Quarta,Quinta,Sexta,Sábado,Teste
0,6,13:30\r14:20,0 - \r,10291 - 1\rD67 - 2,6649 - 1\rD67 - 2,0 - \r,6649 - 1\rD67 - 2,13:30\r14:20
1,7,14:20\r15:10,0 - \r,10291 - 1\rD67 - 2,6649 - 1\rD67 - 2,0 - \r,6649 - 1\rD67 - 2,14:20\r15:10
2,8,15:20\r16:10,6645 - 1\rD67 - 2,0 - \r,0 - \r,6645 - 1\rD67 - 2,0 - \r,15:20\r16:10
3,9,16:10\r17:00,6645 - 1\rD67 - 2,0 - \r,0 - \r,6645 - 1\rD67 - 2,0 - \r,16:10\r17:00
4,10,17:00\r17:50,6645 - 1\rD67 - 2,0 - \r,0 - \r,6645 - 1\rD67 - 2,0 - \r,17:00\r17:50

In [12]:
## Mover a coluna 'B' para o início
Grade_M = Grade_M[['Hr./Aula', 'Teste'] + [col for col in Grade_M.columns if col not in ['Teste', 'Hr./Aula']]]
Grade_V = Grade_V[['Hr./Aula', 'Teste'] + [col for col in Grade_V.columns if col not in ['Teste', 'Hr./Aula']]]

In [13]:
Grade_M = Grade_M.drop('Segunda', axis = 1)
Grade_M = Grade_M.drop('Hr./Aula', axis = 1)

Grade_V = Grade_V.drop('Segunda', axis = 1)
Grade_V = Grade_V.drop('Hr./Aula', axis = 1)

ESSE TRECHO É DE TRATAMENTO DAS COLUNAS

In [14]:
Grade_M.columns = ['Horário',1,2,3,4,5]

Grade_V.columns = ['Horário',1,2,3,4,5]

In [15]:
Grade_M[[1.1,1]] = Grade_M[1].str.split("\r", expand = True)
Grade_V[[1.1,1]] = Grade_V[1].str.split("\r", expand = True)

In [16]:
Grade_M[[2.1,2]] = Grade_M[2].str.split("\r", expand = True)
Grade_V[[2.1,2]] = Grade_V[2].str.split("\r", expand = True)

In [17]:
Grade_M[[3.1,3]] = Grade_M[3].str.split("\r", expand = True)
Grade_V[[3.1,3]] = Grade_V[3].str.split("\r", expand = True)

In [18]:
Grade_M[[4.1,4]] = Grade_M[4].str.split("\r", expand = True)
Grade_V[[4.1,4]] = Grade_V[4].str.split("\r", expand = True)

In [19]:
Grade_M[[5.1,5]] = Grade_M[5].str.split("\r", expand = True)
Grade_V[[5.1,5]] = Grade_V[5].str.split("\r", expand = True)

In [20]:
Grade_M = Grade_M.drop(1, axis = 1)
Grade_M = Grade_M.drop(2, axis = 1)
Grade_M = Grade_M.drop(3, axis = 1)
Grade_M = Grade_M.drop(4, axis = 1)
Grade_M = Grade_M.drop(5, axis = 1)

Grade_V = Grade_V.drop(1, axis = 1)
Grade_V = Grade_V.drop(2, axis = 1)
Grade_V = Grade_V.drop(3, axis = 1)
Grade_V = Grade_V.drop(4, axis = 1)
Grade_V = Grade_V.drop(5, axis = 1)

In [21]:
Grade_M[["Segunda",1]] = Grade_M[1.1].str.split(" - ", expand = True)
Grade_M[["Terça",2]] = Grade_M[2.1].str.split(" - ", expand = True)
Grade_M[["Quarta",3]] = Grade_M[3.1].str.split(" - ", expand = True)
Grade_M[["Quinta",4]] = Grade_M[4.1].str.split(" - ", expand = True)
Grade_M[["Sexta",5]] = Grade_M[5.1].str.split(" - ", expand = True)

Grade_V[["Segunda",1]] = Grade_V[1.1].str.split(" - ", expand = True)
Grade_V[["Terça",2]] = Grade_V[2.1].str.split(" - ", expand = True)
Grade_V[["Quarta",3]] = Grade_V[3.1].str.split(" - ", expand = True)
Grade_V[["Quinta",4]] = Grade_V[4.1].str.split(" - ", expand = True)
Grade_V[["Sexta",5]] = Grade_V[5.1].str.split(" - ", expand = True)

In [22]:
Grade_M = Grade_M.drop(1.1, axis = 1)
Grade_M = Grade_M.drop(2.1, axis = 1)
Grade_M = Grade_M.drop(3.1, axis = 1)
Grade_M = Grade_M.drop(4.1, axis = 1)
Grade_M = Grade_M.drop(5.1, axis = 1)
Grade_M = Grade_M.drop(1, axis = 1)
Grade_M = Grade_M.drop(2, axis = 1)
Grade_M = Grade_M.drop(3, axis = 1)
Grade_M = Grade_M.drop(4, axis = 1)
Grade_M = Grade_M.drop(5, axis = 1)


Grade_V = Grade_V.drop(1.1, axis = 1)
Grade_V = Grade_V.drop(2.1, axis = 1)
Grade_V = Grade_V.drop(3.1, axis = 1)
Grade_V = Grade_V.drop(4.1, axis = 1)
Grade_V = Grade_V.drop(5.1, axis = 1)
Grade_V = Grade_V.drop(1, axis = 1)
Grade_V = Grade_V.drop(2, axis = 1)
Grade_V = Grade_V.drop(3, axis = 1)
Grade_V = Grade_V.drop(4, axis = 1)
Grade_V = Grade_V.drop(5, axis = 1)

*FIM DO TRATAMENTO DE COLUNAS*

In [23]:
#Localizando a tabela com as diciplinas (por padrão a ultima planilha)
index_dic = len(lista_tabelas)-1

In [24]:
diciplinas = lista_tabelas[index_dic]

In [25]:
coluna_diciplina = diciplinas.columns[2]

In [26]:
#Preenchendo os valores NULOS (NaN) da coluna de codicos das diciplinas por um valor (qualquer n nulo)
diciplinas[diciplinas.columns[0]] = diciplinas[diciplinas.columns[0]].fillna(value=int(1))

In [27]:
#Removendo texto "\r" que é gerado nos nomes das diciplinas
#diciplinas[coluna_diciplina] = diciplinas[coluna_diciplina].str.split(pat="\r")

In [28]:
dias = ["Segunda","Terça","Quarta","Quinta","Sexta"]

In [29]:
# Associando os codicos da grade dos dias das semanas com os codicos da tabela de diciplinas
for h in range(0,5):
    for j in range(0,5):
        for x in range(0,len(diciplinas)):
            # Caso o dia esteja sem aulas o horario permanece vazio
            if int(Grade_M[dias[h]][j]) == 0:
                Grade_M[dias[h]][j] = " "
                break
            else:
                # Reescrevimento da grade com os nomes das diciplinas
                if str(diciplinas.iat[x, 0]) == str(Grade_M[dias[h]][j]):
                    Grade_M[dias[h]][j] = diciplinas.iat[x, 2]
                    break

In [30]:
# Associando os codicos da grade dos dias das semanas com os codicos da tabela de diciplinas
for h in range(0,5):
    for j in range(0,5):
        for x in range(0,len(diciplinas)):
            # Caso o dia esteja sem aulas o horario permanece vazio
            if int(Grade_V[dias[h]][j]) == 0:
                Grade_V[dias[h]][j] = " "
                break
            else:
                # Reescrevimento da grade com os nomes das diciplinas
                if str(diciplinas.iat[x, 0]) == str(Grade_V[dias[h]][j]):
                    Grade_V[dias[h]][j] = diciplinas.iat[x, 2]
                    break

In [31]:
display(Grade_M, Grade_V)

,Horário,Segunda,Terça,Quarta,Quinta,Sexta
0,07:45\r08:35,TOP.APL.AO PROJ.DE LINHAS DE TRANS.,,,FUNDAMENTOS DE ENGENHARIA\rAMBIENTAL,CIRCUITOS ELETRICOS I
1,08:35\r09:25,TOP.APL.AO PROJ.DE LINHAS DE TRANS.,,,FUNDAMENTOS DE ENGENHARIA\rAMBIENTAL,CIRCUITOS ELETRICOS I
2,09:40\r10:30,CALCULO DIFERENCIAL E INTEGRAL I,LABORATOR. DE CIRCUITOS ELETRICOS I,PROJETO DE SISTEMAS DIGITAIS,MECANICA E RESIST. DOS MATERIAIS,
3,10:30\r11:20,CALCULO DIFERENCIAL E INTEGRAL I,LABORATOR. DE CIRCUITOS ELETRICOS I,PROJETO DE SISTEMAS DIGITAIS,MECANICA E RESIST. DOS MATERIAIS,
4,11:20\r12:10,CALCULO DIFERENCIAL E INTEGRAL I,,,MECANICA E RESIST. DOS MATERIAIS,

,Horário,Segunda,Terça,Quarta,Quinta,Sexta
0,13:30\r14:20,,CIRCUITOS ELETRICOS I,ESTATISTICA,,ESTATISTICA
1,14:20\r15:10,,CIRCUITOS ELETRICOS I,ESTATISTICA,,ESTATISTICA
2,15:20\r16:10,CALCULO DIFERENCIAL E INTEGRAL II,,,CALCULO DIFERENCIAL E INTEGRAL II,
3,16:10\r17:00,CALCULO DIFERENCIAL E INTEGRAL II,,,CALCULO DIFERENCIAL E INTEGRAL II,
4,17:00\r17:50,CALCULO DIFERENCIAL E INTEGRAL II,,,CALCULO DIFERENCIAL E INTEGRAL II,

In [32]:
Grade_V

,Horário,Segunda,Terça,Quarta,Quinta,Sexta
0,13:30\r14:20,,CIRCUITOS ELETRICOS I,ESTATISTICA,,ESTATISTICA
1,14:20\r15:10,,CIRCUITOS ELETRICOS I,ESTATISTICA,,ESTATISTICA
2,15:20\r16:10,CALCULO DIFERENCIAL E INTEGRAL II,,,CALCULO DIFERENCIAL E INTEGRAL II,
3,16:10\r17:00,CALCULO DIFERENCIAL E INTEGRAL II,,,CALCULO DIFERENCIAL E INTEGRAL II,
4,17:00\r17:50,CALCULO DIFERENCIAL E INTEGRAL II,,,CALCULO DIFERENCIAL E INTEGRAL II,

In [33]:
titulo_pdf = []
for i in Grade_V.columns:
    titulo_pdf += i,

In [34]:
teste = [titulo_pdf]

In [35]:
for j in range(0,len(titulo_pdf)-1):
    p0 = []
    for i in titulo_pdf:
        p0 += (Grade_M[i][j]),
    teste += p0,

In [36]:
for j in range(0,len(titulo_pdf)-1):
    p1 = []
    for i in titulo_pdf:
        p1 += (Grade_V[i][j]),
    teste += p1,

In [37]:
def create_pdf(file_name):
    
    page_size = landscape(letter)
    
    # Cria um documento
    doc = SimpleDocTemplate(file_name, pagesize=page_size)
    
    # Lista de elementos a serem adicionados ao documento
    elements = []

    # Define os dados da tabela
    horario_pdf = [teste]
    
    # Cria a tabela
    table_dias = Table(teste, colWidths = [60, 140, 140, 140, 140, 140])
    
    # Define o estilo da tabela
    style = TableStyle([
        ('BACKGROUND', (0, 0), (-1, 0), colors.grey),
        ('TEXTCOLOR', (0, 0), (-1, 0), colors.whitesmoke),
        ('ALIGN', (0, 0), (-1, -1), 'CENTER'),
        ('FONTNAME', (0, 0), (-1, 0), 'Helvetica-Bold'),
        ('BOTTOMPADDING', (0, 0), (-1, 0), 12),
        ('BACKGROUND', (0, 1), (-1, -1), colors.whitesmoke),
        ('GRID', (0, 0), (-1, -1), 1, colors.black),
        ('FONTSIZE', (1, 1), (-1, -1), 6),
        ('FONTSIZE', (0, 1), (0, -1), 8),
    ])
    table_dias.setStyle(style)
    
    # Adiciona a tabela à lista de elementos
    #elements.append(table)
    elements.append(table_dias)
    
    # Constrói o documento
    doc.build(elements)

if __name__ == "__main__":
    create_pdf("HorarioSimple.pdf")